.product {
  padding: 7px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product_img {
  overflow: hidden;
  border-radius: 10px;
  background-color: #eceff1;
}
.product:hover img {
  transform: scale(1.1);
  transition: 0.5s ease-in-out all;
}
.product img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s ease-in-out all;
}
.product_info {
  padding: 10px;
  margin-bottom: 30px;
}
.product_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin-bottom: 15px;
}
.product_price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: var(--blue-70);
  margin-bottom: 10px;
}
.product_seller {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: var(--blue-10);
  margin-bottom: 10px;
}
.product_category {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: var(--blue-10);
  margin-bottom: 10px;
}
.addToCart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-bg);
}
.addToCart:hover {
  background-color: var(--orange-10);
}
.addToCart p {
  margin-right: 5px;
}
